.item {
  border: none;
  border-bottom: 1px solid rgb(205, 15, 15);
  color: #333;
  padding: 2rem 1rem;
  border-radius: 0%;
}

.accordion .item .accordion-header button {
  background: transparent;
  box-shadow: none;
  font-size: 17px;
  vertical-align: middle;
}